<Alloy>
	<View id="Wrapper" name="Text">
		<Require type="widget" src="com.mcongrove.navigationBar" id="NavigationBar" image="data/logo.png" />
		<View backgroundColor="#ffb030" layout="vertical">
		<Label id="heading" />

		
	
		<TableView id="table">
		

			<TableViewSection id="evt1" headerTitle="Wisconsin Tailgate">
				<TableViewRow title="April 10 @ 4:30 pm - 7:00"/>
				<TableViewRow title="Sandburg Cafe"/>
			</TableViewSection>
			
			<TableViewSection id="evt2" headerTitle="Circus Circus">
				<TableViewRow title="April 15 @ 4:30 pm - 8:00"/>
				<TableViewRow title="Riverview Residence Hall"/>
			</TableViewSection>
			
			
			<TableViewSection id="evt3" headerTitle="Arcade Night">
				<TableViewRow title="April 15 @ 7:30 pm - 11:00"/>
				<TableViewRow title="Palm Gardens"/>
			</TableViewSection>
			
			
		</TableView>

</View>
	</View>
</Alloy>